<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conBookStore" connectionString="server=localhost;user id=fireheart; password=wasd.1234;persistsecurityinfo=True;database=bookstore;sslmode=none" providerName="Mysql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>