.gridColumn {
  float: left;
}

a{
  text-decoration: none;
  color: black;
}

.card {
  width: 20rem;
  height: 26rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
}
@media screen and (max-width:600px) {
  .gridColumn {
    width: 100%;
  }
}
.card-footer{
  padding: 0;
  position: sticky;
}

.card-body{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.gridRow:after {
  content: "";
  display: table;
  clear: both;
}

img{
  height: 60%;
  width: auto;
  margin: auto;
}

.active{
   background-color: lightgray;
}

.sticky-top{
  position: sticky;
  top:80px;
}

.container-fluid{
  padding-left: 50px;
}

.quantity {
  height: 37px;
  line-height: 37px;
}

.expanded-btn{
  position: absolute;
  top:0;
  left: 0;
  right:0;
}