<div class="row">
  <div class="col-3">
    <mat-card class="sticky-top">
      <mat-list>
        <mat-list-item>
          <button mat-raised-button matLine style="text-align: left; padding-left: 1rem;" [class.active]="!genre&&!publisher" routerLink="/">
            All Books</button>
        </mat-list-item>
        <mat-divider>
        </mat-divider>
        <h5>Genre</h5>
        <mat-list-item *ngFor="let g of genres$ | async">
          <button mat-raised-button matLine style="text-align: left; padding-left: 1rem;" [class.active]="g===genre" routerLink="/"
            [queryParams]="{genre: g}">
            {{g}}</button>
        </mat-list-item>
        <mat-divider>
        </mat-divider>
        <h5>Publisher</h5>
        <mat-list-item *ngFor="let p of publishers$ | async">
          <button mat-raised-button matLine style="text-align: left; padding-left: 1rem;" [class.active]="p===publisher" routerLink="/"
            [queryParams]="{ publisher: p }">
            {{p}}</button>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div class="col">
    <div class="gridRow">
      <ng-container *ngFor="let b of filteredBooks">
        <mat-card class="gridColumn card d-flex">
          <mat-card-header>
            <mat-card-title>{{b.BookTitle}}</mat-card-title>
            <mat-card-subtitle>{{b.BookAuthor.AuthorName}}</mat-card-subtitle>
          </mat-card-header>
          <img class="m-auto" mat-card-image [src]="b.BookThumb" [alt]="b.BookTitle">
          <hr>
          <mat-card-content>
            <div class="d-flex justify-content-between">
              <div>
                {{b.BookCost | currency: 'INR'}}
              </div>
              <div>
                Rating:
                <mat-icon [matBadge]="b.BookRating" matBadgeColor="accent">star</mat-icon>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="card-footer" >
            <a mat-raised-button class="btn-block" color="primary" href="#">Add to cart</a>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
